*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
}
body{
    background-color: white;
}
.main{
    width: 100vw;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.discountOffer{
    background-color: #0E8DC0;
    text-align: center;
    font-size: 2vw;
    padding: 1.5vw 2vw;
}
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -2%;
    /* relative flex items-center justify-between gap-3 mt-5 */
}
nav .logo{
    padding: 10vw 0;
    z-index: 99;
}
.logoImg{
    width: 20vw;
    /* border: 2px solid red; */
    margin-left: 7vw;
}
.links{
    position: absolute;
    top: 25vw;
    /* left: 10vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* absolute flex sm:left-[20vw] md:right-[37vw] lg:-left-[37vw] sm:pt-[0vw] right-[9vw] pt-[20vw] gap-3  md:gap-10 */
}
.hr{
    position: absolute;
    width: 100vw;
    border-top: 2px solid black;
    margin-top: 15vw;
}
.hr2{
    position: absolute;
    width: 100vw;
    border-top: 2px solid black;
    margin-top: 33vw;
}
.links a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding-left: 6vw;
}
.navRightLinks{
    position: absolute;
    display: flex;
    right: 7vw;
    gap: 4vw;
    /* margin-bottom: 8px; */
    /* absolute right-[10vw] gap-5 flex */
}
/* page1 */

.page1{
    position: relative;
    overflow: hidden;
}
.page1 .bannerImg{
    width: 200vw;
    height: 100vw;
}
.bannerImg img{
    width: 100%;
    height: 100%;
}
.page1 .offer{
    position: absolute;
    display: none;
    /* xl:absolute xl:w-[48vw] xl:h-[13vw] xl:bg-red-500 xl:border-2 xl:border-red-500 xl:right-[3vw] xl:bottom-[10vw] */
}
.page1 .upper{
    display: none;
    /* z-[99] sm:hidden md:hidden lg:block */
}
.upper img{
    width: 18vw;
    height: 5vw;
    position: absolute;
    top: 3.6vw;
    left: 16.4vw;
    /* w-[18vw] h-[5vw] absolute top-[3.6vw] left-[16.4vw] */
}
.page1 .bgWhite{
    display: none;
    /* sm:hidden md:hidden lg:block xl:absolute lg:bg-white xl:w-[15vw] xl:h-[10vw] xl:top-[3.8vw] xl:right-[19vw] */
}
/* page2 */
.page2{
    width: 100vw;
    min-height: 30vh;
    /* padding: 2vw 4vw; */
    /* border: 2px solid red; */
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #0f95ca ; */
    /* w-full h-screen top-0 relative  flex items-center justify-center flex-col */
}
.page2 .videoAnimation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    /* top: 60vw; */
    /* flex items-center justify-center flex-col */
}    
.videoAnimation .playIcon{
    position: absolute;
    top: -10vw;
    width: 20vw;
    height: 20vw;
}
.videoAnimation .playIcon img{
    width: 100%;
    height: 100%;
    /* w-[10vw] */
}
.videoAnimation .playText{
    color: white;
    font-size: 3.5vw;
    white-space: nowrap;
    padding: 2vw 5vw;
    position: absolute;
    top: 10vw;
    margin-top: 1vw;
    text-transform: uppercase;
    background-color: #000000;
    text-align: center;
    border-radius: 2vw;
    /* text-center px-4 py-2 bg-[#6f4e37] rounded-md text-white */
}
.videoAnimation video{
    position: absolute;
    top: -50vw;
    width: 100vw;
    height: 100vw;
    border-radius: 50px;
    transform: scaleX(0.7) scaleY(0);
}
/* page3 */
.page3{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;

    gap: 3vw;
    overflow: hidden;
    white-space: nowrap;
}
.moving-div{
    overflow: hidden;
    margin-top: -160vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(193, 188, 188);
}

.move img {
    width: 20vw;
    filter: invert(1);
    padding: 2vw;
    /* padding: 1vw; */
}

.move {
    display: inline-block;
    animation: move 8s linear infinite;
}

.blur-left {
    width: 15vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: linear-gradient(to right, #000000, transparent);
}

.blur-right {
    width: 15vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background: linear-gradient(to right, transparent, #000000);
}
@keyframes move{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
